<!-- sidebar start -->
<aside>
    <dl>
        {{ $currentPage := . }}

        {{ $docPages := where ( where $.Site.Pages "Type" "docs") "Kind" "page" }}

        {{ $sections := slice "Introduction" "Concepts" "Commands" "Workflow" }}

        {{ range $sections }}
            {{ $section := . }}
            {{ $sectionPages := where $docPages "Parent.Title" $section}}

            <dt> {{ $section }}</dt>
            <ul>
                {{ range sort $sectionPages ".Params.section_order"  }}
                    <!-- Match "{{ $section }}" -> {{ .Kind}}<>{{ .Type }}<>{{ .Parent.Title }}<>"{{ .Title }}" -->
                    <li class="{{ if eq $currentPage.Permalink .Permalink }}active{{ end}}">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ end }}

    </dl>
</aside>