// Colors: https://color.adobe.com/create/color-wheel/
$primary-color:  #3364dd;
$font-color: black;
$background-color: desaturate(#fcfaf3, 80%);

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: -apple-system, 'Roboto',  serif;
  background-color: $background-color;

  line-height: 1.5;
  padding: 4em 1em;
}

code {
    color: $primary-color;
    background-color: white;
    font-family: "Ubuntu Mono";
    width: 100%;
}

// Override bootstrap.
pre code {
    color: $primary-color;
    background-color: white;
    display: inline-block;
}

p.leading {
  font-size: larger;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 3px;
}