// Colors: https://color.adobe.com/create/color-wheel/
$primary-color:  #3364dd;
$font-color: black;
$background-color: white;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');